<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/styles/base-about-me.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital@400;700&display=swap">
</head>
<body>
    <header>
        <a id="link-titulo" href="/index.html"><h1>PORTAFOLIO SALVADOR GAUCHAT</h1></a>
        <img id="profile-image" src="../images/foto-personal.jpeg" alt="Imagen Perfil">
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="/view/about-me.html">Sobre mí</a></li>
            <li><a href="/view/expertise.html">Expertise</a></li>
            <li><a href="/view/experiencia.html">Experiencia</a></li>
            <li><a href="/view/skills.html">Skills</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>About Me</h2>
        </section>
        <div class="info-personal">
            <p>
                <b>Un poco sobre mi</b><br>
                Nací en la ciudad de Santa Fe, Capital de la Provincia. Allí vivi durante 12 años junto a mis padres y mis cuatro hermanos, luego nos mundamos a la ciudad de Rafaela, lugar donde habito hoy en día. 
                Estudie Abogacia y comence a trabajar en la rama del Derecho Parlamentario antes de recibirme.<br>
                En estos momentos estudio Progamación a distancia y realizo un curso de Introducción a la Programación en UNRAF.
            </p>
        </div>
    </main>
    <div class="familia">
        <!-- <button >Mostrar Personas</button> -->
        <button id="show-people">
          <span>Mi familia</span>
        </button>
        <ul id="listaPersonas"></ul>
    </div>
    <footer>
        <p>Podes contactarme vía:</p>
        <div class="contactos">
            <a href="https://www.linkedin.com/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/gauchasito" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a><br>
            <a href="https://wa.me/543492621291" target="_blank" class="social-icon"><i class="fab fa-whatsapp"></i></a><br>
        </div>
        <p style="padding-bottom: 30px;">salvagauchat@gmail.com</p>
    </footer>
    <script src="/scripts/script.js"></script>
</body>
</html>
