<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills</title>
    <link rel="stylesheet" href="/styles/base-skills.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@400;700&display=swap" />
  </head>
  <body>
    <header>
      <a id="link-titulo" href="/index.html"
        ><h1>PORTAFOLIO SALVADOR GAUCHAT</h1></a
      >
      <img id="profile-image" src="../images/gon.jpg" alt="Imagen Perfil" />
    </header>
    <nav>
      <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="/view/about-me.html">Sobre mí</a></li>
          <li><a href="/view/expertise.html">Expertise</a></li>
          <li><a href="/view/experiencia.html">Experiencia</a></li>
          <li><a href="/view/skills.html">Skills</a></li>
      </ul>
    </nav>
    <main>
      <section>
          <h2>Skills</h2>
      </section>
      <div class="info-personal" id="info-personal">
          <ul id="skills-list">
              <li>HTML</li>
              <li>CSS</li>
              <li>Paquete Office</li>
              <li>Adobe Illustrator</li>
              <li>GitHub</li>
          </ul>
      </div>
      <!-- <button class="btn" id="show-more-skills">Mostrar más</button> -->
      <button class="button" id="show-more-skills">
        MAS HABILIDADES
      </button>
  </main>
    <footer>
      <p>Podes contactarme vía:</p>
      <div class="contactos">
        <a href="https://www.linkedin.com/" target="_blank" class="social-icon"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a
          href="https://www.instagram.com/gauchasito"
          target="_blank"
          class="social-icon"
          ><i class="fab fa-instagram"></i
        ></a>
        <br />
        <a href="https://wa.me/543492621291" target="_blank" class="social-icon"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <br />
      </div>
      <p style="padding-bottom: 30px">salvagauchat@gmail.com</p>
    </footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>
